:root {
    --emphasis-color: #d94363;
    --text-color: #f8f8d8;
    --highlight-color-light: #aab574;/*#c6ce9e*/;
    --highlight-color-dark: #4f3043;
}

* {
    font-family: sans-serif;
}

html {
    background-color: #372d3a;
    /* background-image: linear-gradient(to bottom right, #4f3043, #372d3a, #642635) */
}

body {
    margin: 0;
}

main {
    display: block;
    min-height: 98vh;
    overflow: hidden;
}

.billboard {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    text-align: center;
}

.billboard-container {
    display: inline-block;
    width: 60%;
}

.billboard__header {
    color: var(--emphasis-color);
    font-size: 3rem;
}

.billboard svg {
    height: 10vh;
    width: auto;
    fill: var(--highlight-color-light);
}

.billboard__content {
    color: var(--text-color);
    font-size: 1.5rem;
}

.projects {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
}

.project {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 34vw;
}

.project-screenshot__container {
    background: var(--highlight-color-light);
    border: 3px solid var(--emphasis-color);
    text-decoration: none;
    display: block;
    position: relative;
    overflow: hidden;
    border-radius: 4rem;
    height: 8rem;
    width: 8rem;
    margin-bottom: 0.5rem;
}

.project-screenshot__cover {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.6);
    overflow: hidden;
    height: 0;
    width: 100%;
    transition: 0.5s ease;
}

.project-screenshot__cover span {
    color: #eee;
    font-size: 1.5rem;
    font-weight: 500;
}

.project-screenshot__container:hover .project-screenshot__cover {
    height: 33%;
}

.project-screenshot__image {
    height: 8rem;
    width: 8rem;
}

.project-description {
    color: var(--text-color);
    display: inline-block;
    margin: auto;
    width: 70%;
}

.nav-links {
    display: flex;
    flex-flow: row wrap;
    grid-area: footer;
    justify-content: center;
    padding-left: 0;
    margin-top: 2.5rem;
}

.nav-link {
    list-style: none;
    padding: 0.1rem 0.2rem;
}

.nav-link a {
    color: var(--text-color);
    align-items: center;
    display: flex;
    fill: var(--emphasis-color);
    font-weight: 700;
    height: 3rem;
    margin: 0 0.5rem;
    text-align: center;
    text-decoration: none;
}

.nav-link svg {
    fill: inherit;
    margin: 0 0.5rem;
    height: 3rem;
    width: auto;
}

.nav-link a:hover,
.nav-link a:active {
    color: var(--emphasis-color);
    fill: var(--text-color);
}

.credits {
    color: var(--highlight-color-light);
    font-size: 0.8rem;
    position: relative;
    bottom: 0;
}

.credits a {
    color: var(--text-color);
}

@media only screen and (max-width: 100rem) {
    .project {
        width: 45vw;
    }
}

@media only screen and (max-width: 30rem) {
    .billboard {
        height: 100vh;
    }

    .billboard-container {
        width: 90%;
    }

    .project {
        width: 90vw;
        margin: 1.5rem;
    }

    .project-description {
        width: 90vw;
    }

    .nav-link span {
        display: none;
    }
}

